@import "tailwindcss";


:root{
    background-color: #adff2f;

}

@theme{
    --color-button: #ffffff;
    --shadow-custom: var(--shadow-2xs);
    --color-input: #1bafd7;

    
    --color-card: #f3f4f6; 
    --radius-card: 16px;   
    --shadow-card: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}



  
